{% extends "base.html" %}

{% block navbar_body %}
{% for c, title in [('2017-02-14', '2017-02-14'), ('ublog-2015_for-yasi_2ndweek', 'ublog: 2nd week'), ('ublog-2015_for-yasi_3rdweek', 'ublog: 3rd week')] %}
  <li class="nav-item {% if c == collection %}active{% endif %}">
    <a class="nav-link" href="{{ restricted_url(endpoint, collection=c, story=None, cluster=None) if c != collection else url_for('.tweets', collection=collection) }}">{{ title }}</a>
  </li>
{% endfor %}
{% endblock navbar_body %}
