{% extends "base.html" %}

{% block content %}

  {{ render_pagination(page) }}

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="max-width: 300px" class="text-capitalize">{{ feature_name }}</th>
        {% if other_feature_name and not other_feature_values %}
          <th class="text-capitalize">{{ other_feature_name }}</th>
        {% elif other_feature_values %}
          {% for other_feature_value in other_feature_values %}
            <th class="text-capitalize">{{ other_feature_value }}</th>
          {% endfor %}
        {%- endif %}
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {%- for item in items %}
        <tr>
          <td style="max-width: 300px">
            <a href="{{ url_for('.tweets', **{feature_name: item.feature}) }}">{{ item.feature }}</a>
          </td>
          {% if other_feature_name and not other_feature_values %}
            <td><a href="{{ restricted_url('.tweets', **{other_feature_name: item.other_feature}) }}">{{ item.other_feature }}</a></td>
          {% elif other_feature_values %}
            {% for other_feature_value in other_feature_values %}
              <td class="text-capitalize">
                <a href="{{ restricted_url('.tweets', **{feature_name: item.feature, other_feature_name: other_feature_value}) }}">
                {{ item[other_feature_value]|humanize('intcomma') if item[other_feature_value] else '' }}
              </td>
            {% endfor %}
          {%- endif %}
          <td>
            <a href="{{ restricted_url('.tweets', **{feature_name: item.feature}) }}">{{ item[-1]|humanize('intcomma') }}</a>
          </td>
        {%- endfor %}
        </tr>
    </tbody>
  </table>

  {{ render_pagination(page) }}

{% endblock %}
