{% macro render_tweets(tweets, topic=None, show_images=False, relevance_judgments=None, show_alert=True) %}

  {% if show_alert and not tweets %}
    <div class="alert alert-danger" role="alert">
      <h4 class="mb=0">Nothing has been found!</h4>
    </div>
  {% else %}
    <div class="card-columns tweet-selection">
      {%- for tweet in tweets %}
        <div class='card tweet-outer'>
          <blockquote class="twitter-tweet card-blockquote" {% if not show_images %} data-cards="hidden" {% endif %}>
            <div class="card custom-tweet">
              <div class="card-block">
                <header>
                  <p class="twitter-user-name">{{ tweet.features.repr.user__name }}</p>
                  <small class="text-muted">@{{ tweet.features.repr.user__screen_name }}</small>
                </header>
                <blockquote class="card-blockquote">
                  <p dir="ltr" lang="{{ tweet.features.repr.lang }}" class="card-text">
                    {{ tweet.features.repr.text }}
                  </p>
                  <small>
                    <a href="https://twitter.com/{{ tweet.features.repr.user__screen_name }}/status/{{ tweet.tweet_id }}">{{ tweet.created_at }}</a>
                  </small>
                </blockquote>
              </div>
            </div>
          </blockquote>
          {% if topic %}
            {% set j = relevance_judgments.get(tweet.tweet_id, 0) %}
            <div class="tweet-outer-meta btn-group btn-block ml-1" data-toggle="buttons">
              <label class="btn btn-outline-success mb-0 {% if j == 1 %}active{% endif %}" style="width: 33%"  onclick="send_relevance(this, '{{ tweet.tweet_id }}', {{ topic.id}}, 1)">
                <input type="radio" name="relevance" id="1" autocomplete="off" {% if j == 1 %}checked{% endif %}>Relevant
              </label>
              <label class="btn btn-outline-secondary mb-0 {% if j == 0 %}active{% endif %}" style="width: 33%" onclick="send_relevance(this, '{{ tweet.tweet_id}}', {{ topic.id }}, 0)">
                <input type="radio" name="relevance" id="0" autocomplete="off" {% if j == 0 %}checked{% endif %}>Unjudged
              </label>
              <label class="btn btn-outline-danger mb-0  {% if j == -1 %}active{% endif %}" style="width: 33%" onclick="send_relevance(this, '{{ tweet.tweet_id}}', {{ topic.id }}, -1)">
                <input type="radio" name="relevance" id="-1" autocomplete="off"  {% if j == -1 %}checked{% endif %}>Irrelevant
              </label>
            </div>
          {% endif %}
        </div>
      {%- endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro render_clusters(clusters, selected_cluster=None) %}
  <div class="card sidebar-element">
    <h3 class="card-header">Clusters</h3>
    <div class="list-group list-group-flush">
      {% for cluster, tweet_count in clusters %}
        <a href="{{ restricted_url('.tweets', cluster=cluster if cluster != selected_cluster else None) }}" class="list-group-item list-group-item-action flex-column align-items-start feature-item {{ 'active' if cluster == selected_cluster}}">
          <p class="mb-0">{{ cluster  }} ({{ tweet_count|humanize('intword') }})</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}


{% macro render_stats(feature_name, feature_alias, features, active_feature_names, collection, hidden_fields) %}
  <div class="card sidebar-element">
    <div class="card-header container">
      <div class="row justify-content-between">
      <form class="form-inline w-100" action="{{url_for('.tweets', collection=collection)}}" method="get">
        <div class="col">
          <h3>{{ feature_alias }}</h3>
        </div>
        <div class="col col-md-auto">
          <input class="form-control mr-1" type="text" id="{{feature_name}}_input" name="{{feature_name}}">
          <button type="submit" class="btn btn-secondary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
        </div>

        {% for k, v in hidden_fields %}
          <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}

      </form>
      </div>
    </div>
    <div class="card-columns feature-stats-container">
      {% for feature, count in features %}
        <div class="card">
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action flex-column align-items-start feature-stats-item feature-item {{ 'active' if feature in active_feature_names}}" href="{{ restricted_url('.tweets', include={feature_name: feature} if feature not in active_feature_names else {}, exclude={} if feature not in active_features else {feature_name: feature}, cluster=None)  }}">
              {{ feature }} ({{ count|humanize('intcomma') }})
            </a>
          </div>
        </div>
        {% endfor %}

  {#       {\# <a class="btn btn-outline-danger btn-sm" href="{{ restricted_url('.tweets', include={feature_name: '-{}'.format(feature)}, exclude={feature_name: feature}) }}" role="button"> #\}  #}
  {#       {\#   <i class="fa fa-times" aria-hidden="true"></i> #\}  #}
  {#       {\# </a> #\}  #}
  {#   {\# </div> #\} #}
  </div>
{# {% endfor %}  #}

{% endmacro %}


{% macro render_tweet_count(tweet_count) %}
  <p>
    There are {{ tweet_count|humanize('intcomma') }} tweets.
  </p>
 {% endmacro%}
