{% extends "base.html" %}

{% block content %}
<table class="table">
<thead>
<tr>
  <th style="max-width: 300px">{{ feature_name }}</th>
  {%- for category in category_labels %}
    <th>{{ category }}</th>
  {%- endfor %}
  <th>Total</th>
</tr>
</thead>
<tbody>
{%- for r in result %}
<tr>
  <td style="max-width: 300px">
    <a href="{{ url_for('.tweets', feature_name=feature_name, feature_value=r.feature_value) }}">{{ r.feature_value }}</a>
  </td>
  {%- for category in category_labels %}
    <td>{{ r[category] or '' }}</td>
  {%- endfor %}
  <td>{{ r.total }}</td>
 {%- endfor %}
</tr>
</tbody>
</table>
{% endblock %}
