{% extends "root/base.html" %}
{% import "root/macro.html" as m %}

{% block content %}

  <div class="row">

    <div class="col-xl-4 col-md-6 bg-faded sidebar bd-links">

      {% if tweet_count %}
        <p>
          {# There are {{ page.item_count|humanize('intcomma') }} tweets.   #}
          There are {{ tweet_count|humanize('intcomma') }} tweets.
        </p>
      {% endif %}

      <form class="sidebar-element" action="{{ url_for('.tweets') }}" method="get">
          <div class="row" id="sidebar-search-box">
            <div class="col-10">
              <input type="text" class="form-control" placeholder="Search" name="q" {% if query %} value="{{ query }}" {% endif %}>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-success my-2 my-sm-0 w-100" type="submit">Search</button>
            </div>
          </div>
          {% for k, v in query_form_hidden_fields %}
          <input type="hidden" name="{{ k }}" value="{{ v }}">
          {% endfor %}
      </form>


      {# {{ render_pagination(page) }} #}

      <div id="clusters">
        {% if clusters %}
          {{ m.render_clusters(clusters, selected_cluster=selected_cluster) }}
        {% else %}
          <p>
            <div id='clustering_progress_container' class="progress" style="display: none;">
              <div id='clustering_progress' class="progress-bar" role="progressbar"></div>
            </div>
            <button id="start-clustering-task" class="btn btn-outline-success w-100">Cluster</button>

            {# <form class="sidebar-element" action="{{ url_for('.cluster') }}" method="post"> #}
            {#   <input type="hidden" name="redirect" value="yes"> #}
            {#   <input type="hidden" name="selection_args" value="{{ selection_args }}"> #}
            {#   <input type="hidden" name="from_url" value="{{ restricted_url('.tweets') }}"> #}
            {#   <button class="btn btn-outline-secondary my-2 my-sm-0 w-100" type="submit">Cluster (POST)</button> #}
            {# </form> #}
          </p>
        {% endif %}
      </div>

        {% for feature_name, features, active_features in stats %}
          <div class="card sidebar-element">
            {# <h3 class="card-header"><a href="{{ restricted_url('.features', feature_name=feature_name) }}">{{ feature_name }}</a></h3> #}
            <h3 class="card-header">{{ feature_name }}</h3>
            <div class="card-columns feature-stats-container">
              {% for feature, count in features  %}
                <div class="card" style="margin-bottom: 0;">
                  <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action flex-column align-items-start feature-stats-item feature-item {{ 'active' if feature in active_features}}" href="{{ restricted_url('.tweets', include={feature_name: feature} if feature not in active_features else {}, exclude={} if feature not in active_features else {feature_name: feature}, cluster=None)  }}">
                      {{ feature }} ({{ count|humanize('intword') }})
                    </a>
                  </div>
                </div>

                {# <a class="btn btn-outline-danger btn-sm" href="{{ restricted_url('.tweets', include={feature_name: '-{}'.format(feature)}, exclude={feature_name: feature}) }}" role="button"> #}
                {#   <i class="fa fa-times" aria-hidden="true"></i> #}
                {# </a> #}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

    </div>

    <main class="col-xl-8 offset-xl-4">

      {# {{ render_tweets(page.items) }} #}
      {{ m.render_tweets(tweets) }}

    </main>

  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock content %}

{% block navbar_extra %}
  <form class="form-inline" action="{{ url_for('.tweets') }}" method="get">

    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
      <label class="form-check-hide-images">
        <input class="form-check-input" type="checkbox" name="show_images" {% if show_images %}checked{% endif %}><span class="navbar-text">Show images</span>
      </label>
    </div>

    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <label class="mr-sm-2 navbar-text" for="inlineFilterSelect">Filter</label>
      <select name="filter" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFilterSelect">
        {% for filter_value, filter_option in [('none', 'None'), ('pmi', 'PMI')] %}
          <option value="{{ filter_value }}" {% if filter_value == selected_filter %}selected{% endif %}>{{ filter_option }}</option>
          {# <option value="pmi">PMI</option> #}
        {% endfor %}
      </select>
    </div>

    {% block navbar_extra_root %}
    {% endblock navbar_extra_root %}

    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-2">Update settings</button>
  </form>
{% endblock navbar_extra %}

{% block extra_scripts %}
  <script>
   function start_clustering_task() {
       $.post({
           url: '{{ url_for('.cluster') }}',
           data: {
               selection_args: '{{ selection_args|safe }}',
               from_url: '{{ restricted_url('.tweets')|safe }}',
           },
           success: function(data, status, request) {
               var status_url = request.getResponseHeader('Location');
               status_url = status_url + '?' + window.location.search.slice(1);

               update_progress(status_url);
           },
           error: function() {
               console.log('Unexpected error');
           }
       });
   }

   function update_progress(status_url){
       $.getJSON(status_url, function(data){
           $('#clustering_progress_container').show();
           $('#start-clustering-task').hide();

           if (data['state'] == 'PROGRESS') {
               var progress = data['info']['current'] / data['info']['total'] * 100;
               $('#clustering_progress').attr('style', 'width:' + progress + '%;');
               $('#clustering_progress').html(data['info']['status']);

           }
           else if (data['state'] == 'SUCCESS') {
               $('#clustering_progress_container').hide();
               $('#clusters').html(data['cluster_html_snippet'])
               return;
           }
           setTimeout(function(){update_progress(status_url);}, 2000);
       });
   }

   $(document).ready(function() {
       console.log( "ready!" );
       $('#start-clustering-task').click(start_clustering_task);
   });
  </script>
  {% endblock extra_scripts %}
