# Buildout
.mr.developer.cfg
.installed.cfg
bin/
develop-eggs/
eggs/
parts/
src/

.pypy/

flock.egg-info/
flock-conf/flock_conf.egg-info/
flock-web/flock_web.egg-info/

# Twarc
twarc.log

# Flock
flock.log

# Tweeets
tweets/select
tweets/filter
tweets/hydrate
tweets/db

# Juupyter
.ipynb_checkpoints/

__pycache__/

TAGS
.projectile
*.DS_Store