# Buildout
.mr.developer.cfg
.installed.cfg
bin/
develop-eggs/
eggs/
parts/
src/
flock.egg-info/

flock-conf/flock_conf.egg-info/

# Twarc
twarc.log

# Flock
flock.log

# Tweeets
tweets/select
tweets/filter
tweets/hydrate
tweets/db

# Juupyter
.ipynb_checkpoints/

__pycache__/
