[twitter]
access_token = 10868922-SKB9bXbf2r4f8ZreZMiB3gQ9NoIJJa6DxlVHmUJ8K
access_token_secret = Wu8fMC6y812DaZXXqIgnDowUN2YagJwIsoFN7NmvC6F8u

consumer_key = YHcsk10ImqZ5kKBoAp7Pug
consumer_secret = TFYQ95sB7u7v8fwC2NxmyUIn31t9TzGii0pJxvs6o

[fowler]
dustbin_template = /Users/dimazest/tweets/olympics_pentathlon/dustbin/%Y-%m-%d-%H.gz
sentry_dsn = https://3f2024c5071746078a7a356a58377e07:f0b5c7fa2f2542ef8ff561b80b57b788@sentry.io/1071

[filter:riga]
split_template = /Users/dimazest/Documents/flock/tweets/filter/riga/%Y-%m-%d-%H.gz
track =
follow =
locations = 23.9325829,56.8570671,24.3247299,57.0859184
language =
    lv
    ru

[filter:media]
split_template = /Users/dimazest/Documents/flock/tweets/filter/media/%Y-%m-%d-%H.gz
track =

# @lsmlv

# @DelfiLV
# @rusdelfi_lv

# @LatvijasTV
# @ltv7rus

# @LatMixNews
# @mixnews_lv

# @LatvijasRadio1
# @LatvijasRadio4
follow =
    171409557

    20577579
    851127702

    1147990266
    2797548756

    980383772
    41787906

    715428753384554496
    400125678
locations =
language =
    lv
    ru
