{% macro render_pagination(page) %}

  {% set pager = page.link_map(symbol_previous='&laquo;', symbol_next='&raquo;', format='~4~') %}

  <nav aria-label="Page navigation">
    <ul class="pagination">
      {%- for page in [pager.previous_page, pager.first_page] + pager.range_pages + [pager.last_page, pager.next_page] %}
        {% if page.type == 'current_page' %}
          <li class="page-item active">
            <span class="page-link">{{ page.value }}
              <span class="sr-only">(Current page)</span>
            </span>
          </li>
        {% elif page.type == 'span' %}
          <li class="page-item disabled">
            <span class="page-link" aria-label="Ellipsis">
              <span aria-hidden="true">...</span>
              <span class="sr-only">Ellipsis</span>
            </span>
          </li>
        {%- elif page.number != pager.current_page.value %}
          {% if not (page.type == 'first_page' and pager.range_pages[0].type != 'span')
             and not (page.type == 'last_page' and pager.range_pages[-1].type != 'span')
          %}
          <li class="page-item">
            <a class="page-link" href="{{ page.href }}" aria-label="Next">
              <span aria-hidden="true">{{ page.value|safe if page.type not in ('first_page', 'last_page') else page.number }}</span>
            </a>
          </li>
          {% endif %}
        {%- elif page.type not in ('first_page', 'last_page') %}
          <li class="page-item disabled">
            <span class="page-link">
              {{ page.value|safe }}
            </span>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>
  </nav>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}flock{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pace.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-fixed-top navbar-dark bg-inverse navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('main.welcome')}}">flock</a>

      <ul class="navbar-nav mr-auto">
        {% block navbar_body  %} {% endblock navbar_body %}
      </ul>

      {% block navbar_extra  %} {% endblock navbar_extra %}

      {% if current_user.is_authenticated %}
        <ul class="navbar-nav float-right">
          {# <li class="nav-item mr-5"> #}
            {# <a class="nav-link btn btn-info" href="{{ url_for('main.topics')  }}">Topics</a> #}
          {# </li> #}
          <li class="nav-item mr-3">
            <a class="nav-link" href="{{ url_for('main.user') }}">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ current_user.first_name }} {{ current_user.last_name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-danger" href="{{ url_for('main.logout')  }}">Logout</a>
          </li>
        </ul>
      {% endif %}

    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-7">
              {% for category, message in messages %}
                <div class="alert alert-{{ {'message': 'danger'}.get(category, category) }} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message|safe }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <div class="container-fluid" id='main-content'>
      {% block content %}{% endblock %}
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='pace.min.js') }}"></script>

    {% block extra_scripts %}{% endblock %}

    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";

     $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                 xhr.setRequestHeader("X-CSRFToken", csrf_token);
             }
         }
     });
    </script>

  </body>
</html>
