{% macro render_pagination(page) %}

  {% set pager = page.link_map(symbol_previous='&laquo;', symbol_next='&raquo;', format='~4~') %}

  <nav aria-label="Page navigation">
    <ul class="pagination">
      {%- for page in [pager.previous_page, pager.first_page] + pager.range_pages + [pager.last_page, pager.next_page] %}
        {% if page.type == 'current_page' %}
          <li class="page-item active">
            <span class="page-link">{{ page.value }}
              <span class="sr-only">(Current page)</span>
            </span>
          </li>
        {% elif page.type == 'span' %}
          <li class="page-item disabled">
            <span class="page-link" aria-label="Ellipsis">
              <span aria-hidden="true">...</span>
              <span class="sr-only">Ellipsis</span>
            </span>
          </li>
        {%- elif page.number != pager.current_page.value %}
          {% if not (page.type == 'first_page' and pager.range_pages[0].type != 'span')
             and not (page.type == 'last_page' and pager.range_pages[-1].type != 'span')
          %}
          <li class="page-item">
            <a class="page-link" href="{{ page.href }}" aria-label="Next">
              <span aria-hidden="true">{{ page.value|safe if page.type not in ('first_page', 'last_page') else page.number }}</span>
            </a>
          </li>
          {% endif %}
        {%- elif page.type not in ('first_page', 'last_page') %}
          <li class="page-item disabled">
            <span class="page-link">
              {{ page.value|safe }}
            </span>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>
  </nav>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>flock</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="{{url_for('main.welcome')}}">flock</a>
      {#
      <ul class="nav navbar-nav">
        {%- for item in nav.top -%}
          <li class="nav-item {{ 'active' if item.is_active else '' }}">
            <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
      #}
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>
