{% extends "collection/base.html" %}
{% import "collection/macro.html" as m %}

{% block title %} {{ config.get('collection:{}'.format(g.collection), {}).get('title', g.collection) }} {% endblock %}

{% block content %}

  <div class="jumbotron">
    <form action="{{ url_for('.tweets') }}" method="get">
      <div class="row justify-content-md-center" id="sidebar-search-box">
        <div class="col-5">
          <input type="text" class="form-control form-control-lg" placeholder="Search" name="q" {% if query %} value="{{ query }}" {% endif %}>
        </div>
        <div class="col-3 col-lg-2">
          <button class="btn btn-success btn-lg my-2 my-sm-0" type="submit" style="width: 100%;">Search</button>
        </div>
      </div>
    </form>
  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock content%}
